name: Veracode Pipeline-Scan Action to PR comment
#commit only
on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with: 
        java-version: 1.8
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
    - name: Build with Maven
      run: mvn clean package
          
    - uses: actions/upload-artifact@v1
      with:
        name: verademo.war
        path: target/verademo.war
    
    - name: create dir prior
      run: |
          mkdir dls
          
    - name: Download pipeline code
      working-directory: ./dls/
      run: |
          curl https://downloads.veracode.com/securityscan/pipeline-scan-LATEST.zip -o veracode.zip
          unzip veracode.zip
    - name: Run Pipeline Scanner
      continue-on-error: true
      run: |
        java -Dpipeline.debug=true -jar ./dls/pipeline-scan.jar -vid: '${{ secrets.VERACODE_API_ID }}' -vkey: '${{ secrets.VERACODE_API_KEY }}' -rp REQUEST_POLICY --fail_on_severity="Very High, High" --file "target/verademo.war" --file "result.zip" -jo true -so true 

      # run the pipeline scan action
    - name: pipeline-scan action step
      id: pipeline-scan
      uses: veracode/Veracode-pipeline-scan-action@pipeline-scan-beta-v0.0.3 
      with:
            vid: '${{ secrets.VERACODE_API_ID }}'
            vkey: '${{ secrets.VERACODE_API_KEY }}'
            file: "target/verademo.war"
            request_policy: REQUEST_POLICY
            fail_build: true
